@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caprasimo&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image {
  background-image: url('/public/ai-boat-detail.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0.5em 0;
  color: white;
  font-family: 'Caprasimo', sans-serif;
  font-size: 6rem;
  line-height: 5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.phone-number {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.5em 0;
  color: gold;
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.button {
  right: 0;
  text-align: right;
  background-color: gold;
  color: black;
  font-size: 1.05rem;

}

.name-number {
  max-width: 600px;
  text-align: right;
  margin: 1em 0;
  position: fixed;
  z-index: 3;
  top: 40%;
  right: 5%;
}

.hero {
  display: block;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 1280px;
  max-height: 100%;
  width: auto;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  border: 1px dotted lightblue;
  position: fixed;
  right: 80%;

}

.container {
  z-index: -1;
  background: black;
  width: 100%;
  position: fixed;
  width: 100vw;
}

.button:hover {
  border: 1px solid white;
  background-color: black;
  color: gold;
  transition: 0.25s;
}